


.weatherBg{
  /* background: url("https://www.accuweather.com/images/hero/4/1440x450.jpg"); */
  background-color: rgba(228, 54, 54, 0.918);
  /* background-repeat: no-repeat; */
  height: 50vh;
  /* width: 100%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}
.heading{
  font-weight: 300px;
  color: white;
}
.form-control input{
  font-weight: 400;
  font-size: 50px;
}

.weatherResult{
  margin: auto;
  width: 800px;
  height: 400px;

}

.icon{
  width: 100px;
  height: 100px;
  margin-top: 2rem;
}

.weatherCity{
font-size: 35px;

}
.weatherTemp{
  font-size: 55px;
  font-weight: 700;
}